@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  font-family: "Work Sans", serif;
  background-color: hsl(275, 100%, 97%);
  height: 100vh;
  position: relative;
}

.faqs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}